build
build_debug/
build_with_allscalecc/
third_party/
Amdados_api_codeblocks/

# Editor Specific
*.swp
*~
build*
*.res
*.run
Observation.txt
DumpAllScale.txt
simulation_results

doc/python*
doc/references
*.aux
*.toc
*.bbl
*.blg
*.log
*.pdf
*.ps
*.png
*.jpg
*.jpeg
opreport*
*.out

.settings
*~
*.*~
*\#
.*.swp
.*.swo
tags
*.zip
*.git
verdandi
verdandi*
output
output*
_output_*
3rd_party
3rd-party
*.git
.DS_Store
*.gz
*.tgz
*.tar.gz
*.a
*.o
*.so
*.dylib
.clang-format

__pycache__
.ipynb_checkpoints
*.ipynb
.idea

/Debug/
/Release/

inventory.txt
todo.txt

