build/
build_debug/
build_with_allscalecc/
third_party/
Amdados_api_codeblocks/

# Editor Specific
*.swp
*~
build*
*.res
*.run
Observation.txt
DumpAllScale.txt

doc/python*
doc/references
*.aux
*.toc
*.log
*.pdf
*.ps
*.png
*.jpg
*.jpeg

.settings
*~
*.*~
*\#
.*.swp
.*.swo
tags
*.zip
*.git
verdandi
verdandi*
output/
3rd_party
3rd-party
*.git
.DS_Store

__pycache__
.ipynb_checkpoints
*.ipynb
.idea

